# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-vendored
*.shader linguist-vendored
*.cginc linguist-vendored
*.asset linguist-vendored
*.meta linguist-vendored
*.txt linguist-vendored
